/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .contact .container, body .regist .container, header .container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 70px;
  background-color: blue;
  position: fixed;
  top: 0;
  z-index: 100;
}
header .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container a {
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 700;
}
header .container .hwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 650px;
  width: 100%;
}
header .container .hwrapper .left {
  max-width: 550px;
  width: 100%;
}
header .container .hwrapper .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .container .right {
  width: 250px;
}
header .container .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  width: 100%;
  height: 70px;
  background-color: blue;
}

body {
  min-height: calc(100vh - 70px);
}
body .regist {
  margin-top: 70px;
}
body .regist .container {
  padding: 30px;
}
body .regist .container form {
  max-width: 350px;
  padding: 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  border: 1px;
  border-radius: 10px;
  background-color: rgb(117, 135, 214);
  box-shadow: 3px 4px 58px 35px rgba(28, 45, 133, 0.65);
  -webkit-box-shadow: 3px 4px 58px 35px rgba(28, 45, 133, 0.65);
  -moz-box-shadow: 3px 4px 58px 35px rgba(28, 45, 133, 0.65);
}
body .regist .container form .inputwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}
body .regist .container form .inputwrapper input, body .regist .container form .inputwrapper label, body .regist .container form .inputwrapper select {
  height: 30px;
  border: none;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-weight: 600;
  color: black;
}
body .regist .container form .inputwrapper input::-webkit-input-placeholder, body .regist .container form .inputwrapper label::-webkit-input-placeholder, body .regist .container form .inputwrapper select::-webkit-input-placeholder {
  opacity: 0.5;
}
body .regist .container form .inputwrapper input::-moz-placeholder, body .regist .container form .inputwrapper label::-moz-placeholder, body .regist .container form .inputwrapper select::-moz-placeholder {
  opacity: 0.5;
}
body .regist .container form .inputwrapper input:-ms-input-placeholder, body .regist .container form .inputwrapper label:-ms-input-placeholder, body .regist .container form .inputwrapper select:-ms-input-placeholder {
  opacity: 0.5;
}
body .regist .container form .inputwrapper input::-ms-input-placeholder, body .regist .container form .inputwrapper label::-ms-input-placeholder, body .regist .container form .inputwrapper select::-ms-input-placeholder {
  opacity: 0.5;
}
body .regist .container form .inputwrapper input::placeholder, body .regist .container form .inputwrapper label::placeholder, body .regist .container form .inputwrapper select::placeholder {
  opacity: 0.5;
}
body .regist .container form .inputwrapper input:focus, body .regist .container form .inputwrapper label:focus, body .regist .container form .inputwrapper select:focus {
  background-color: aqua;
}
body .regist .container form .radio {
  width: 100%;
  height: 30px;
}
body .regist .container form input[type=submit] {
  background-color: blue;
  height: 35px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: medium;
  font-weight: 600;
  color: white;
}
body .footloc {
  min-height: calc(100vh - 140px);
}

body {
  min-height: calc(100vh - 70px);
}
body .contact {
  margin-top: 70px;
  width: 100%;
  padding: 40px;
}
body .contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  box-shadow: 3px 4px 58px 35px rgba(28, 45, 133, 0.65);
  -webkit-box-shadow: 3px 4px 58px 35px rgba(28, 45, 133, 0.65);
  -moz-box-shadow: 3px 4px 58px 35px rgba(28, 45, 133, 0.65);
  background-color: aquamarine;
}
body .contact .container .wrapper {
  width: 200px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}
body .contact .container .wrapper .icon {
  width: 60px;
  height: 60px;
  background-color: blue;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .contact .container .wrapper .icon .fa-envelope, body .contact .container .wrapper .icon .fa-phone, body .contact .container .wrapper .icon .fa-location-dot {
  size: 50px;
  color: white;
}
body .contact .container .wrapper h2, body .contact .container .wrapper h3, body .contact .container .wrapper a {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
body .contact .contactfootloc {
  min-height: calc(100vh - 220px);
}/*# sourceMappingURL=global.css.map */