@mixin flexrow ($justify:space-between){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: $justify;
}

@mixin flexcl{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}