body{
    min-height: calc(100vh - 70px);
    .contact{
        margin-top: 70px;
         padding: 40px;

        .footloc1{
            min-height: calc(100vh - 220px);
           }
       
        .container{
            @extend %mycontainer;
            @include flexrow;
            @include shadow1;
            background-color: aquamarine;
            height: 426px;
            
            
            
            .maps{
                height: 426px;
            }         

            .wrapper{
                width: 200px;
                height: 150px;
                @include flexcl;
                align-items: center;
                padding-left: 20px;

                .icon{
                    width: 60px;
                    height: 60px;
                    background-color: $color1;
                    border-radius: 50%;
                    @include flexrow($justify:center);

                    .fa-envelope, .fa-phone, .fa-location-dot {
                        size: 50px;
                        color: white;
                    }
                    
                    
                }
                h2, h3,a {
                    font-family: $fontrob;
                    font-weight: 600;
                    
                }
            }

           
        }
        
    }
}