body{
    .ind-1{
        margin-top: 70px;
        padding: 50px;

        .container{
            @extend %mycontainer;
            display: flex;
            gap:10px;
            justify-content: flex-start;

            img{
                width: 50px;
                height: 400px;
                object-fit: cover;
                object-position: center;
                transition-property: all;
                transition-timing-function: linear;
                transition-duration: 1s;

            }
            & :hover{
                cursor: pointer;
                width: 300px;
                
            }

            

            }

        }
    }
