body{
    min-height: calc(100vh - 70px);

    .regist{
        margin-top: 70px;
        
        .container{
            @extend %mycontainer;
            padding: 30px;
                   
            form{
                max-width: 350px;
                padding: 15px;
                width: 100%;
                @include flexcl;
                margin: 0 auto;
                border: 1px ;
                border-radius: 10px;
                background-color: var(--lightblue);
                @include shadow1;
                

                .inputwrapper{
                    
                @include flexcl;
                    width: 100%;
                    height: 60px;
                    margin-bottom: 10px;

                    input, select {
                        padding-left: 10px
                    }

                    input, label,select {
                        height: 30px;
                        border: none;
                        font-family:var(--ninomtavruli);
                        font-weight: 600;
                        color: var(--black);
                    
                    &::placeholder{
                        opacity: 0.5;
                    }

                        &:focus {
                            background-color: var(--aquamarine);

                        }
                        
                    }
                }

                .radio{
                    width: 100%;
                    height: 30px;
                    margin-bottom: 10px;

                    input, label,select{
                        
                        border: none;
                        font-family:var(--ninomtavruli);
                        font-weight: 600;
                        color: var(--black);
                    }
                    

                }
                .pass{
                    width: 100%;
                    height: 30px;
                    margin-bottom: 10px;
                    @include flexrow($justify:center);
                   
                    
                    a{
                        color: var(--white);
                        font-weight: 600;
                        
                    }
                }

                .restore{
                    width: 100%;
                    height: 30px;
                    margin-top: 10px;
                    @include flexrow($justify:center);
                   
                    
                    a{
                        color: var(--white);
                        font-weight: 600;
                        
                    }
                }
                input[type=submit]{
                    background-color: $blue;
                    height: 35px;
                    cursor: pointer;
                    border: none;
                    border-radius: 5px;
                    font-family: var(--ninomtavruli);
                    font-size: medium;
                    font-weight: 600;
                    color:var(--white);

                }
            }
        }
    }
   .footloc{
    min-height: calc(100vh - 140px);
   }
}